html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #gameCanvas {
    display: block;
    border: 3px solid rgb(84, 15, 15);
    box-shadow: 0 0 30px rgb(84, 15, 15);
    image-rendering: pixelated;
  }
  
  #restartButton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }
  
  #restartButton:hover {
    background-color: darkred;
  }
  
  #mainMenuButton {
    position: absolute;
    top: 10px;
    left: 9px;
    padding: 10px 12px;
    background-color:red;
    color: rgb(255, 255, 255);
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
#mainMenuButton:hover {
    background-color: darkred;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 20, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-family: 'Orbitron', sans-serif;
  transform: scale(1.2); 
}

.modal-content {
  background: #0b0e1b;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 12px;
  padding: 12px 18px;
  box-shadow: 0 0 24px rgb(255, 0, 0);
  color: #fff;
  text-align: center;
  max-width: 480px;
  width: 90%;
  font-size: 24px;
}

.modal-content input[type="text"] {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 12px 18px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 8px;
  background-color: #111;
  color: rgb(255, 0, 0);
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
}

.modal-content small {
  color: #888;
  font-size: 18px;
}

.modal-content button {
  padding: 15px 30px;
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 18px;
}

.modal-content button:hover {
  background-color: rgb(204, 0, 0);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 105px;
  margin-top: 18px;
}