html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #gameCanvas {
    display: block;
    border: 3px solid rgb(84, 15, 15);
    image-rendering: pixelated;
  }
  
  #restartButton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }
  
  #restartButton:hover {
    background-color: darkred;
  }
  
  #mainMenuButton {
    position: absolute;
    top: 10px;
    left: 9px;
    padding: 10px 12px;
    background-color:red;
    color: rgb(255, 255, 255);
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
#mainMenuButton:hover {
    background-color: darkred;
}
